:root {
    --primary-color: #001F3F;
    --second-color: #3A6D8C;
    --third-color: #6A9AB0;
    --bin-color: #EAD8B1;
}

/* Dasar Pengaturan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

/* Navbar */
nav {
    background-color: var(--primary-color);
    border-bottom: 1px solid rgba(2, 22, 92, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav .logo-nav {
    font-size: 2rem; 
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav .logo-nav span {
    color: red;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 0;
    transition: all 300ms;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
    color: red;
    border-bottom: 1px solid red;
}

nav .navbar-none {
    display: none;
}

nav .auth-buttons {
    display: flex;
    gap: 8px;
}

nav .auth-buttons button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

nav .auth-buttons button.login {
    background-color: #FF6600;
    color: #fff;
}

nav .auth-buttons button.signup {
    background-color: #5bc0de;
    color: #fff;
}

nav .auth-buttons button:hover {
    color: red;
    background-color: #333;
}

.menu-icon {
    color: #fff;
    display: none;
}

/* Tampilan Awal - Home */
.tampilan-awal {
    background-image: url('img/bg-header2.jpg');
    background-position: center;
    background-size: cover;
    height: 370px;
    position: relative;
    margin-bottom: 10px;
}

.tampilan-awal::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #021931;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

.tampilan-awal h2 {
    color: rgb(16, 230, 165);
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    padding: 100px 0 5px;
    margin-left: 20px; /* Tambahkan margin kiri untuk memberi ruang dari layar */
    text-shadow: 2px 2px 2px rgba(235, 22, 7, 0.966);
    z-index: 2;
    position: relative;
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 1;
}

.tampilan-awal p {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(19, 15, 1, 0.6);
    font-size: 1.5rem;
    z-index: 2;
    position: relative;
    text-decoration: none;
    margin-top: 0;
    line-height: 1;
    margin-left: 20px; 
}

/* INPUT */
.tampilan-awal .search_section input[type="text"] {
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: calc(100% - 80px); 
    margin-top: 20px;
    margin-left: 20px; 
    position: relative;
    z-index: 2;
}

/* Section Role */
.role h3 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: var(--second-color);
    text-decoration: underline var(--second-color);
}

/* Movies Role */
.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie {
    background: var(--third-color);
    box-shadow: 7px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

.movie:hover {
    background: #5bc0de;
}

.movie img {
    margin: 5px;
    border: 2px solid #001F3F;
    box-shadow: 7px 2px rgba(0, 0, 0, 0.2);
    width: 90%;
    border-radius: 5px;
}

.movie p {
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 5px;
}

.hasil {
    margin-left: 80px;
}

.hasil p {
    font-size: 1rem;
    padding-bottom: 20px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.8rem 0 2rem;
    margin-top: 1rem;
    justify-content: center;
}

footer .socials {
    padding-top: 0.1rem;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
    width: 0.8rem;
}

footer .socials a:hover {
    color: red;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 1rem;
    color: white;
}

footer .credit a {
    font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
    
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    nav {
        flex-wrap: wrap;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li:last-of-type {
        padding-bottom: 8px;
    }

    nav .navbar-none {
        display: flex;
    }

    nav .auth-buttons {
        display: none;
    }

    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

  
}

/* HP */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
